.title-2sL5JydP{
    text-align: right;
}

.container-gb0TB1FN{
    padding: 16px 16px 8px 32px !important;
}

.title-hq9up-8e{
    text-align: right !important;
}

.title-hq9up-8e:first-child{
    margin-right: 0px !important;
}